body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h3 {
    color: #333;
    margin-bottom: 0px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin-top:0px;
}

ul li {
}

img {
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.link {
    display: inline-block;
    margin: 10px 0;
}

.brand {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

.rule {
    margin-top:25px;
    margin-bottom: 50px;
    border-top: solid 3px #ccc
}
